body {
  font-family: arial, sans-serif;
}
h1 {
  color: rgb(32, 33, 36);
  font-family: "Google Sans", arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  text-align: left;
  width: 326px;
  margin: 0px;
  padding-bottom: 40px;
}
ul {
  margin: 0 0 20px;
  padding: 0;
}
li {
  color: rgb(112, 117, 122);
  display: block;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  text-align: left;
  width: 326px;
  list-style: none;
}

.weather-body {
  border: 1px solid #94989b;
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 600px;
}

.temperature {
  color: rgb(32, 33, 36);
  font-family: "Google Sans", arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}
.units {
  position: relative;
  top: -25px;
}
